<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Movies App</h1>
    <p class="lead">This is an app to search the latest movies! Enjoy!</p>
  </div>
</div>

<div class="container">
  <br>

  <h1>Cartelera</h1>
  <hr>

  <app-collage [peliculas]="cartelera | slice:0:6" titulo="Cartelera"></app-collage>
  <app-collage [peliculas]="populares | slice:0:6" titulo="Populares"></app-collage>
  <app-collage [peliculas]="popularesNinos | slice:0:6" titulo="Populares entre los niños"></app-collage>

</div>