<br>
<h1>{{titulo}}</h1>
<hr>

<div class="row animated fadeIn fast" *ngIf="peliculas">

  <div class="col-sm-6">

    <div class="row">
      <div class="col-md-12 div-pic-1"
        [ngStyle]="{ 'background-image': 'url( '+ (peliculas[0] | peliculaImage) +' )'  }">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 div-pic-2"
        [ngStyle]="{ 'background-image': 'url( '+ (peliculas[1] | peliculaImage) +'  )'  }">>
      </div>
      <div class="col-sm-6 div-pic-2"
        [ngStyle]="{ 'background-image': 'url( '+ (peliculas[2] | peliculaImage) +'  )'  }">>
      </div>
    </div>

  </div>

  <div class="col-sm-6">


    <div class="row">
      <div class="col-sm-6 div-pic-2"
        [ngStyle]="{ 'background-image': 'url( '+ (peliculas[3] | peliculaImage) +'  )'  }">>
      </div>
      <div class="col-sm-6 div-pic-2"
        [ngStyle]="{ 'background-image': 'url( '+ (peliculas[4] | peliculaImage) +'  )'  }">>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 div-pic-1"
        [ngStyle]="{ 'background-image': 'url( '+ (peliculas[5] | peliculaImage) +'   )'  }">
      </div>
    </div>

  </div>





</div>